CREATE TABLE IF NOT EXISTS signatureprofile (
  id INT NOT NULL AUTO_INCREMENT,
  name VARCHAR(255) NOT NULL,
  title VARCHAR(255) NULL,
  imageUrl VARCHAR(255) NOT NULL,
  brandProfileId INT NULL,
  createdAt DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
  updatedAt DATETIME NOT NULL,
  deletedAt DATETIME NULL,
  PRIMARY KEY (id),
  INDEX brandProfileId_idx (brandProfileId)
);
